<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/meta") %>
    <title>blog Oluşturma</title>
</head>
<body>
    <%- include("../partials/nav") %>

    <h1>save Page</h1>
</body>
</html>