<!-- <nav class="navbar navbar-dark bg-primary navbar-expand-lg d-flex justify-content-center align-items-center flex-column flex-wrap">
    <div class="container d-flex justify-content-center align-items-center flex-wrap flex-column">
        <a href="/index" class="navbar-brand bg-warning p-1 rounded text-black fw-bold">
          <%=title  %>
        </a>
        <ul class="navbar-nav me-auto flex-wrap">
            

            <li class="nav-item">
                
                <a href="/urunList" class="nav-link">ÜRÜN STOKLARI</a>
                
            </li>
            <li class="nav-item">

                <a href="/urunKayit" class="nav-link">MALZEME GİRİŞ/ÇIKIŞ</a>
                
            </li>
            <li class="nav-item">

                <a href="/gunlukUretim" class="nav-link">GÜNLÜK KAYIT</a>
                
            </li>
            <li class="nav-item">

                <a href="/admin/save" class="nav-link">MALZEME EKLE</a>
                
            </li>
            <li class="nav-item">

                <a href="/admin/gunlukList" class="nav-link">GÜNLÜK KAYIT LİSTESİ</a>
                
            </li>
            <li class="nav-item">

                <a href="/deneme" class="nav-link">İZLEME EKRANI</a>
                
            </li>

            <li class="nav-item">

                <a href="/Sertifika" class="nav-link">SERTİFİKA EKRANI</a>
                
            </li>
        </ul>
    </div>
</nav> -->

<style>
  .nav-link:hover {
    background-color: #FFC107;
    color: black;

  }



  .nav-link.active {
    background-color: #FFC107;
    color: white;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="/index" class="navbar-brand bg-warning p-2 rounded text-black fw-bold " data-roles="admin,user">
      <%=title %>
    </a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
            <a href="/StockScreen" class="nav-link">ÜRÜN STOKLARI</a>
          </li> -->
        <li class="nav-item">
          <a href="/urunList" class="nav-link auth-link" data-roles="admin,user">ÜRÜN MALZEME STOKLARI</a>
        </li>
        <li class="nav-item">
          <a href="/urunKayit" class="nav-link auth-link" data-roles="admin">MALZEME GİRİŞ/ÇIKIŞ</a>
        </li>
        <li class="nav-item">
          <a href="/gunlukUretim" class="nav-link auth-link" data-roles="admin">GÜNLÜK KAYIT</a>
        </li>
        <li class="nav-item">
          <a href="/admin/save" class="nav-link auth-link" data-roles="admin">MALZEME EKLE</a>
        </li>
        <li class="nav-item">
          <a href="/admin/gunlukList" class="nav-link auth-link" data-roles="admin">ÜRETİM KAYITLARI</a>
        </li>
        <li class="nav-item">
          <a href="/liveScreen" class="nav-link auth-link" data-roles="admin,user">İZLEME EKRANI</a>
        </li>

        <li class="nav-item">

          <a href="/admin/certificate" class="nav-link">SERTİFİKA EKRANI</a>

        </li>

        <li class="nav-item">
          <a href="/login" class="nav-link">GİRİŞ YAP</a>
        </li>

        <li class="nav-item">

          <a id="logoutBtn" href="#" class="nav-link">ÇIKIŞ YAP</a>

        </li>

      </ul>

    </div>
  </div>
</nav>

<script>
  const role = localStorage.getItem("role");

  document.querySelectorAll(".auth-link").forEach(link => {
    const allowedRoles = link.dataset.roles.split(",");
    if (!allowedRoles.includes(role)) {
      link.style.display = "none";
    }
  });
</script>

<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
      const links = document.querySelectorAll(".nav-link");
  
      // Aktif linki localStorage'tan getir
      const activeLink = localStorage.getItem("activeLink");
  
      if (activeLink) {
        links.forEach(link => {
          if (link.href === activeLink) {
            link.classList.add("active");
          }
        });
      }
  
      links.forEach(link => {
        link.addEventListener("click", function () {
          // Tüm linklerden "active" class'ını kaldır
          links.forEach(l => l.classList.remove("active"));
  
          // Tıklanan linke "active" class'ı ekle
          this.classList.add("active");
  
          // Aktif link bilgisini kaydet
          localStorage.setItem("activeLink", this.href);
        });
      });
    });
  </script> -->