<style>
    .uretımUl {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }

    .uretımLi {
        list-style-type: none;
        /* margin: 5px 5px; */
        
    }

    @media screen and (max-width: 750px){
        .uretımLi {
           margin-top: 3px;
            width: 100%;
            text-align: center;
        }

        .uretimA{
            width: 100%;
        }

    }

    .uretimA {
        color: black;
        text-decoration: none;
        padding: 5px 30px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        /* border-radius: 3px; */
        display: inline-block;
        font-weight: bold;
        background-color: #e6e600;
        
        
    }

    .uretimA:hover {
        background-color: yellow;
        color: black;
    }

    .cont-nav {
        background-color: #212529;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>


<!-- <div class="cont-nav mt-2 mb-2 rounded ">



    <div class="nav-div ">
        <nav class="navbar ">


            <ul class="uretımUl">
                
                <li class="uretımLi">
                    <a class="uretimA" href="/trc60-production">TRC60</a>
                </li>
                <li class="uretımLi">
                    <a class="uretimA" href="#">TRC01</a>
                </li>
                <li class="uretımLi">
                    <a class="uretimA" href="#">GZC24</a>
                </li>
                <li class="uretımLi">
                    <a class="uretimA" href="#">GOLD</a>
                </li>
                <li class="uretımLi">
                    <a class="uretimA" href="#">CASUS</a>
                </li>

                <li class="uretımLi">
                    <a class="uretimA" href="#">ETİLEN SIVI</a>
                </li>

                <li class="uretımLi">
                    <a class="uretimA" href="#">ETİLEN JENERATÖR</a>
                </li>
            </ul>


        </nav>
    </div>
</div> -->



<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ÜRÜN LİSTESİ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="uretımLi">
                <a class="uretimA" href="/trc60-production">TRC60</a>
            </li>

            <li class="uretımLi">
                <a class="uretimA" href="/trc01-production">TRC01</a>
            </li>

            <li class="uretımLi">
                <a class="uretimA" href="/luvinka-production">LUVİNKA</a>
            </li>

            <li class="uretımLi">
                <a class="uretimA" href="/gzc24-production">GZC24</a>
            </li>

            <li class="uretımLi">
                <a class="uretimA" href="/gold-production">GOLD</a>
            </li>

            <li class="uretımLi">
                <a class="uretimA" href="/casus-production">CASUS</a>
            </li>

            <li class="uretımLi">
                <a class="uretimA" href="/etilen_s">ETİLEN SIVI</a>
            </li>
            
            <li class="uretımLi">
                <a class="uretimA" href="/etilen_jenerator">ETİLEN JENERATÖR</a>
            </li>
            
           

          
        </ul>
      </div>
    </div>
  </nav>