<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/meta") %>
    <title>CASUS ÜRÜN KAYIT SAYFASI</title>

    <style>

        .inputStyle{
            margin: 10px;
            width: 20px;
            height: 20px;
            
        }

        .saveBtn{
            margin: 10px;
            width: 100px;
            height: 55px;
        }

        @media  (max-width: 768px) {
            .saveCont{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
            }
        }

        .toplamSayisi{
            color: white;
            font-size: 20px;
        }


    </style>


</head>
<body class="bg-dark">

    <%- include("../partials/nav") %>

    <div class="container-xl mt-3 bg-primary w-auto rounded p-3">

        <%- include("../partials/uretımNav") %>

        <br>

        <h2 class="text-white text-center">CASUS ÜRÜN KAYIT SAYFASI</h2>

        <br>

        <div class="container-xl d-flex justify-content-center align-items-center flex-wrap w-auto  p-3">

            <div class="d-flex flex-wrap mb-2">
    
                    
    
                <div class="d-flex flex-wrap mb-2">

                

                    <h5 id="uretimMiktari" class="bg-danger p-3 mx-1 rounded text-white">ÜRETİLEN CİHAZ : <strong class=" bg-light text-black p-1 rounded me-auto">0000</strong></h5>
                    <h5 id="uretimMalzeme" class="bg-dark p-3 mx-1 rounded text-white">ÜRETİLEBİLİR CİHAZ :  <strong class=" bg-light text-black p-1 rounded">0000</strong></h5>
                    <h5 id="guncelStok" class="bg-success p-3 mx-1 rounded text-white">ATÖLYE GÜNCEL STOK :  <strong class=" bg-light text-black p-1 rounded">0000</strong></h5>
                    
                </div>

                
    
                
                
            </div>

            <div class="container-xl d-flex justify-content-start align-items-center saveCont">


                <input id="barkodİnput" class="form-control  w-auto me-1" type="text" placeholder="20 li kutu sayısı gir...">

                <input id="dateInput" class="form-control  w-auto me-1" type="date">
    
                

                <div class="bg-warning mx-2 p-2 d-flex justify-content-center align-items-center rounded">

                    <label  for="days40">40 DAYS</label>

                    <input class="inputStyle mx-2" type="checkbox" name="days40" id="days40">

                </div>
                

                <div class="bg-warning mx-2 p-2 d-flex justify-content-center align-items-center rounded">

                    <label  for="days75">75 DAYS</label>
                    
                    <input  class="inputStyle mx-2"  type="checkbox" name="days75" id="days75">
                
                </div>

                

                <button id="saveButton" class="btn btn-warning saveBtn">KAYDET</button>
                
            </div>
        </div>

            
    

    </div>

    <div class="container-xxl w-auto bg-primary mt-2 rounded">

        
        <div  class=" bg-primary  rounded p-3">
    
            <h2 class="text-white">ÜRETİLEN CASUS </h2>
            <br>
    
            <h3 class="toplamSayisi" id="toplamCihaz">Toplam : 0</h3>
    
            <input oninput="searchBox()" id="boxSearchInput" class="form-control w-auto mb-2" type="text" placeholder="Cihaz / Gün / Tarih Ara...">
    
            <div style="max-height: 300px; overflow-y: auto;">
                <table  class="table table-dark text-center">
                    <thead>
                      <tr>
                        
                        <th scope="col">İD</th>
                        <th scope="col">CİHAZ</th>
                        <th scope="col">12 Lİ KUTU</th>
                        <th scope="col">ADET</th>
                        <th scope="col">GÜN</th>
                        <th scope="col">TARİH</th>
                      </tr>
                    </thead>
                    <tbody class="toplam"  id="gzc24TableList">
                      <!-- <tr>
                        <th scope="row">1</th>
                        <td >Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                      </tr> -->
                
                    </tbody>
                  </table>
            </div>
    
        </div>

    </div>

    

    


    <script>


        let barkodİnput = document.querySelector("#barkodİnput");

        let dateInput = document.querySelector("#dateInput");

        let days40 = document.querySelector("#days40");

        let days75 = document.querySelector("#days75");

        

        let saveButton = document.querySelector("#saveButton");

        saveButton.addEventListener("click", function () {

            let barkodİnputValue = barkodİnput.value;

            let dateInputValue = dateInput.value;


            let üretilenCihazSayisi = barkodİnputValue * 20;

            
            const days40 = document.getElementById("days40");
            const days75 = document.getElementById("days75");
            
           
            if ((days40.checked && days75.checked) || 
                (days75.checked && days40.checked) ) {
                

                alert("Aynı anda birden fazla gün ayarı seçemezsiniz...");

                window.location.reload();

                return;



            } else if(days40.checked === false && days75.checked === false ) {
                alert("Gün seçeneği boş bırakılamaz...");

                window.location.reload();

                return;
            }else if(barkodİnputValue === "" || dateInputValue === ""){
                alert("Kutu sayısı ve Tarih boş bırakılamaz...")
            }else{
                
                
                if(days40.checked === true){

                    let days40Checked ="40 DAY";
                    console.log("üretilen cihaz", üretilenCihazSayisi, "ADET", dateInputValue , days40Checked);

                    let veri40 = {
                        cihazKutu : barkodİnputValue,
                        date : dateInputValue,
                        adet : üretilenCihazSayisi,
                        day : days40Checked,

                    }

                    console.log(veri40);

                    

                    fetch("/casus/Anyday/post", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },

                        body: JSON.stringify(veri40)


                    })

                    


                    .then(async res => {
                        const data = await res.json();

                        if (!res.ok) {
                            // ❌ Hatalı yanıt geldiyse buraya girer
                            alert("Hata: " + data.message);
                            return;
                        }

                        // ✅ Başarılıysa buraya girer
                        alert("Başarılı: " + data.message);
                        console.log("✔ sunucudan gelen cevap:", data);
                    })
                    .catch(err => {
                        console.error("hata oluştu:", err);
                        // alert("İstek sırasında bir hata oluştu.");
                    });




                }else if( days75.checked === true){

                    let days75Checked ="75 DAY";
                    console.log("üretilen cihaz", üretilenCihazSayisi, "ADET", dateInputValue , days75Checked);

                    let veri75 = {
                        cihazKutu : barkodİnputValue,
                        date : dateInputValue,
                        adet : üretilenCihazSayisi,
                        day : days75Checked,

                    }

                    console.log(veri75);


                    fetch("/casus/Anyday/post", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },

                        body: JSON.stringify(veri75)


                    })

                    .then(async res => {
                        const data = await res.json();

                        if (!res.ok) {
                            // ❌ Hatalı yanıt geldiyse buraya girer
                            alert("Hata: " + data.message);
                            return;
                        }

                        // ✅ Başarılıysa buraya girer
                        alert("Başarılı: " + data.message);
                        console.log("✔ sunucudan gelen cevap:", data);
                    })
                    .catch(err => {
                        console.error("hata oluştu:", err);
                        // alert("İstek sırasında bir hata oluştu.");
                    });

                }else{

                    console.log("üretim kayıt hatası")
                }

                // Input alanlarını temizle
                barkodİnput.value = "";
                dateInput.value = "";

                // Checkbox'ları temizle
                days40.checked = false;
                days75.checked = false;
                

               

                
            }

            


           
            window.location.reload()

            
        });


        document.addEventListener("DOMContentLoaded", async function () {

            try {

                const response = await fetch("/casus/get/urun/kayit");

                const casusUrunKayitList = await response.json();

                casusUrunKayitList.reverse().forEach((data , index) => {
                    
                    const gzc24TableList = document.querySelector("#gzc24TableList");


                    gzc24TableList.innerHTML += `

                        <tr>
                           
                            <th scope="row">${data.casus_id}</th>
                            <td >CASUS</td>
                            <td>${data.casus_uretim_kutu_adet}</td>
                            <td>${data.casus_uretim_adet}</td>
                            <td>${data.casus_uretim_day}</td>
                            <td>${data.casus_uretim_date}</td>
                        </tr>



                    
                    `; 


                });





                
            } catch (error) {
                console.log("gzc24 urun kayıt listesi çekme hatası", error);
            }


        })

        function searchBox(){
            try {

                const boxSearchInput = document.querySelector("#boxSearchInput").value.toLowerCase().trim();

                const dataListItem = document.querySelectorAll("#gzc24TableList tr");

                let gorunenSatirSayisi = 0;
                let toplam = document.querySelector(".toplam");
               
                dataListItem.forEach((item) => {
                    const datatext = item.textContent.toLowerCase().trim();

                    if(!boxSearchInput || datatext.includes(boxSearchInput)) {
                        item.style.display = "";

                        gorunenSatirSayisi++;

                    }else {
                        item.style.display = "none";
                        
                    }
                })

                

                 // Toplam gösterilecek satır sayısını yaz
                const toplamCihaz = document.querySelector("#toplamCihaz");
                toplamCihaz.innerHTML = `Toplam : ${gorunenSatirSayisi}`;


                
            } catch (error) {
                console.log("arama hatası ", error);
            }
        }


        document.addEventListener("DOMContentLoaded", async function () {

            let response = await fetch("/urunler/uretimSayiCasus/get");

            let casusMalzemeSayısı = await response.json();

            let uretimMalzeme = document.querySelector("#uretimMalzeme");

            

            casusMalzemeSayısı.forEach(data => {
                uretimMalzeme.innerHTML = `

                    ÜRETİLEBİLİR CİHAZ :  <strong class=" bg-light text-black p-1 rounded">${data.urun_malzeme_adet}</strong>


                `;
            })


        })

        



    </script>


    
</body>
</html>