<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/meta") %>
    <title>CANLI STOK</title>
    <style>
         input[type="checkbox"] {
             accent-color: yellow; /* Checkbox işaretleme rengi */
             width: 20px;
             height: 20px;
         }

         
    </style>
</head>
<body class="bg-dark">

    <%- include("../partials/nav") %>
    
    <div class="d-flex flex-wrap justify-content-center align-items-center p-3 w-100">

        <div style="max-height: 50vh; overflow-y: auto;" class="bg-primary mt-5 w-100  p-3">

            <h3 class="text-white">SİPARİŞ EDİLECEK MALZEMELER</h3>

           <table class="table bg-primary text-white mt-3 table-bordered border-dark ">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">MALZEME ADI</th>
                        <th scope="col">KALAN STOK</th>
                        <th scope="col">SİPARİŞ DURUMU</th>
                        
                    </tr>
                </thead>
                <tbody id="canlıStokList">
                        <!-- <tr>
                            <td>burası dinamik olarak dolacak</td>
                        </tr> -->
                </tbody>
           </table>
        </div>
        <div style="max-height: 50vh; overflow-y: auto; " class="bg-warning mt-5 w-100  p-3">
            <h3>ATÖLYE İÇİN HAFTALIK ALINACAKLAR</h3>
            <ul>
                <li>malzeme 1</li>
                <li>malzeme 1</li>
                <li>malzeme 1</li>
                <li>malzeme 1</li>
                <li>malzeme 1</li>
                
            </ul>
        </div>
    </div>


    <script>

            document.addEventListener("DOMContentLoaded", async () => {
                try {
                    const response = await fetch("/lowStock/get");
                    const siparisListesi = await response.json();

                    siparisListesi.forEach(siparisİtem => {
                        const canlıStokList = document.querySelector("#canlıStokList");
                        canlıStokList.innerHTML += `
                            <tr  data-id="${siparisİtem.malzeme_id}" style="text-decoration: ${siparisİtem.checked ? "line-through" : "none"};">
                                <th scope="row">${siparisİtem.malzeme_id}</th>
                                <td >${siparisİtem.urun_malzeme_adi}</td>
                                <td >${siparisİtem.urun_malzeme_adet}</td>
                                <td style="width: 20px;">
                                    <input type="checkbox" class="malzeme-checkbox" ${siparisİtem.checked ? "checked" : ""} />
                                </td>
                            </tr>
                        `;
                    });

                    // Checkbox'lar için olay dinleyici ekle
                    document.querySelectorAll(".malzeme-checkbox").forEach(checkbox => {
                        checkbox.addEventListener("change", async (event) => {
                            const row = event.target.closest("tr");
                            const malzemeId = row.dataset.id;

                            
                            
                            // Backend'e güncelleme isteği gönder
                            try {
                                const updateResponse = await fetch("/lowStock/update", {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify({ malzeme_id: malzemeId, checked: event.target.checked }),
                                });

                                if (updateResponse.ok) {
                                    // Güncelleme başarılı ise satırı üstü çizili yap
                                    row.style.textDecoration = event.target.checked ? "line-through" : "none";
                                    
                                } else {
                                    console.error("Güncelleme başarısız");
                                }
                                
                            } catch (error) {
                                console.error("checkbox güncelleme Hata:", error);
                            }
                        });
                    });
                } catch (error) {
                    console.log("canlı alınacak", error);
                }
            });

        


    </script>

</body>
</html>