<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/meta") %>
    <title>GOLD ÜRETİM GİRİŞ/ÇIKIŞ</title>

    <style>

        .inputStyle{
            margin: 10px;
            width: 20px;
            height: 20px;
            
        }

        .saveBtn{
            margin: 10px;
            width: 100px;
            height: 55px;
        }

        @media  (max-width: 768px) {
            .saveCont{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
            }
        }

        .toplamSayisi{
            color: white;
            font-size: 20px;
        }


    </style>

</head>
<body class="bg-dark">

    <%- include("../partials/nav") %>

    

    <div class="container-xl mt-3 bg-primary w-auto  rounded p-3">
        <%- include("../partials/uretımNav") %>

        <br><br><br>

        <h2 class="text-white text-center">GOLD ÜRÜN KAYIT SAYFASI</h2>

        <br><br>


        <div class="container-xxl d-flex justify-content-center align-items-center flex-wrap  p-3">

            <div class="d-flex flex-wrap mb-2">
    
                    
    
                <!-- <h5 id="uretimMiktari" class="bg-danger p-3 mx-1 rounded text-white">ÜRETİLEN CİHAZ : <strong class=" bg-light text-black p-1 rounded me-auto">0000</strong></h5> -->
                <h5 id="uretimMalzeme" class="bg-dark p-3 mx-1 rounded text-white">ÜRETİLEBİLİR CİHAZ :  <strong class=" bg-light text-black p-1 rounded">0000</strong></h5>
                <!-- <h5 id="guncelStok" class="bg-success p-3 mx-1 rounded text-white">ATÖLYE GÜNCEL STOK :  <strong class=" bg-light text-black p-1 rounded">0000</strong></h5> -->
    
                
                
            </div>

            <div class="container-xxl d-flex justify-content-start align-items-center saveCont">


                <input id="barkodİnput" class="form-control  w-auto me-1" type="text" placeholder="12 li kutu sayısı gir...">

                <input id="dateInput" class="form-control  w-auto me-1" type="date">
    
                

                <div class="bg-warning mx-2 p-2 d-flex justify-content-center align-items-center rounded">

                    <label  for="days20">20 DAYS</label>

                    <input class="inputStyle" type="checkbox" name="days20" id="days20">

                </div>
                

                <div class="bg-warning mx-2 p-2 d-flex justify-content-center align-items-center rounded">

                    <label  for="days40">40 DAYS</label>

                    <input  class="inputStyle"  type="checkbox" name="days40" id="days40">
                
                </div>

                <div class="bg-warning mx-2 p-2 d-flex justify-content-center align-items-center rounded">

                    <label  for="days60">60 DAYS</label>

                    <input class="inputStyle"  type="checkbox" name="days60" id="days60">
                
                </div>

                <button id="saveButton" class="btn btn-warning saveBtn">KAYDET</button>
                
            </div>

            

            


        </div>

        

        


    </div>
    <br>
    <div  class="bg-primary container-xxl rounded p-3">

        <h2 class="text-white">ÜRETİLEN GZC24 </h2>
        <br>

        <h3 class="toplamSayisi" id="toplamCihaz">Toplam : 0</h3>

        <input oninput="searchBox()" id="boxSearchInput" class="form-control w-auto mb-2" type="text" placeholder="Cihaz / Gün / Tarih Ara...">

        <div style="max-height: 300px; overflow-y: auto;">
            <table  class="table table-dark text-center">
                <thead>
                  <tr>
                    
                    <th scope="col">İD</th>
                    <th scope="col">CİHAZ</th>
                    <th scope="col">12 Lİ KUTU</th>
                    <th scope="col">ADET</th>
                    <th scope="col">GÜN</th>
                    <th scope="col">TARİH</th>
                  </tr>
                </thead>
                <tbody class="toplam"  id="GOLDTableList">
                  <!-- <tr>
                    <th scope="row">1</th>
                    <td >Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr> -->
            
                </tbody>
              </table>
        </div>

    </div>
    
    <script>


        let barkodİnput = document.querySelector("#barkodİnput");

        let dateInput = document.querySelector("#dateInput");

        let days20 = document.querySelector("#days20");

        let days40 = document.querySelector("#days40");

        let days60 = document.querySelector("#days60");

        let saveButton = document.querySelector("#saveButton");

        saveButton.addEventListener("click", function () {

            let barkodİnputValue = barkodİnput.value;

            let dateInputValue = dateInput.value;


            let üretilenCihazSayisi = barkodİnputValue * 12;

            if (!barkodİnputValue || !dateInputValue) {
                alert("Barkod veya tarih boş olamaz.");
                return;
            }


            
            const days20 = document.getElementById("days20");
            const days40 = document.getElementById("days40");
            const days60 = document.getElementById("days60");
           
            if ((days20.checked && days40.checked) || 
                (days20.checked && days60.checked) || 
                (days40.checked && days60.checked)) {
                
                alert("Aynı anda birden fazla gün ayarı seçemezsiniz...");
                return;

            } else if(days20.checked === false && days40.checked === false && days60.checked === false) {
                alert("Gün seçeneği boş bırakılamaz...");
                return;
            }else{
                
                
                if(days20.checked === true){

                    let days20Checked ="20 DAY";
                    console.log("üretilen cihaz", üretilenCihazSayisi, "ADET", dateInputValue , days20Checked);

                    let veri20 = {
                        cihazKutu : barkodİnputValue,
                        date : dateInputValue,
                        adet : üretilenCihazSayisi,
                        day : days20Checked,

                    }

                    console.log(veri20);

                    

                    fetch("/gold/Anyday/post", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },

                        body: JSON.stringify(veri20)


                    })

                    


                    .then(async res => {
                        const data = await res.json();

                        if (!res.ok) {
                            // ❌ Hatalı yanıt geldiyse buraya girer
                            alert("Hata: " + data.message);
                            console.log(data.message);
                            return;
                        }

                         // ✅ Başarılıysa buraya girer
                            alert("Başarılı: " + data.message);
                            console.log("✔ sunucudan gelen cevap:", data);


                        // if(res.status === 200){

                        //     // ✅ Başarılıysa buraya girer
                        //     alert("Başarılı: " + data.message);
                        //     console.log("✔ sunucudan gelen cevap:", data);

                        //     // ✅ Temizlik işlemleri burada yapılmalı
                        //     barkodİnput.value = "";
                        //     dateInput.value = "";
                        //     days20.checked = false;
                        //     days40.checked = false;
                        //     days60.checked = false;

                        //     window.location.reload()

                        // }

                        
                        

                    })
                    .catch(err => {
                        console.error("hata oluştu:", err);
                        // alert("İstek sırasında bir hata oluştu.");
                         window.location.reload()
                    });




                }else if( days40.checked === true){

                    let days40Checked ="40 DAY";
                    console.log("üretilen cihaz", üretilenCihazSayisi, "ADET", dateInputValue , days40Checked);

                    let veri40 = {
                        cihazKutu : barkodİnputValue,
                        date : dateInputValue,
                        adet : üretilenCihazSayisi,
                        day : days40Checked,

                    }

                    console.log(veri40);


                    fetch("/gold/Anyday/post", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },

                        body: JSON.stringify(veri40)


                    })

                    .then(async res => {
                        const data = await res.json();

                        if (!res.ok) {
                            // ❌ Hatalı yanıt geldiyse buraya girer
                            alert("Hata: " + data.message);
                            console.log(data.message);
                            return;
                        }


                        // ✅ Başarılıysa buraya girer
                        alert("Başarılı: " + data.message);
                        console.log("✔ sunucudan gelen cevap:", data);

                         // ✅ Temizlik işlemleri burada yapılmalı
                        barkodİnput.value = "";
                        dateInput.value = "";
                        days20.checked = false;
                        days40.checked = false;
                        days60.checked = false;

                        window.location.reload()
                        

                    })
                    .catch(err => {
                        console.error("hata oluştu:", err);
                        // alert("İstek sırasında bir hata oluştu.");
                    });

                }else if(days60.checked === true){

                    let days60Checked ="60 DAY";
                    console.log("üretilen cihaz", üretilenCihazSayisi, "ADET", dateInputValue , days60Checked);

                    let veri60 = {
                        cihazKutu : barkodİnputValue,
                        date : dateInputValue,
                        adet : üretilenCihazSayisi,
                        day : days60Checked,

                    }

                    console.log(veri60);

                    fetch("/gold/Anyday/post", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },

                        body: JSON.stringify(veri60)


                    })

                    .then(async res => {
                        const data = await res.json();

                        if (!res.ok) {
                            // ❌ Hatalı yanıt geldiyse buraya girer
                            alert("Hata: " + data.message);
                            console.log(data.message);
                            return;
                        }


                        // ✅ Başarılıysa buraya girer
                        alert("Başarılı: " + data.message);
                        console.log("✔ sunucudan gelen cevap:", data);

                         // ✅ Temizlik işlemleri burada yapılmalı
                        barkodİnput.value = "";
                        dateInput.value = "";
                        days20.checked = false;
                        days40.checked = false;
                        days60.checked = false;

                         window.location.reload()
                       

                    })
                    .catch(err => {
                        console.error("hata oluştu:", err);
                        // alert("İstek sırasında bir hata oluştu.");
                    });


                }

                // // Input alanlarını temizle
                // barkodİnput.value = "";
                // dateInput.value = "";

                // // Checkbox'ları temizle
                // days20.checked = false;
                // days40.checked = false;
                // days60.checked = false;

               
                
                
            }

            

           
            

            
        });


        document.addEventListener("DOMContentLoaded", async function () {

            try {

                const response = await fetch("/gold/get/urun/kayit");

                const goldUrunKayitList = await response.json();

                goldUrunKayitList.reverse().forEach((data , index) => {
                    
                    const goldTableList = document.querySelector("#GOLDTableList");


                    goldTableList.innerHTML += `

                        <tr>
                           
                            <th scope="row">${data.urun_İd}</th>
                            <td >GOLD</td>
                            <td>${data.gold_kutu_sayisi}</td>
                            <td>${data.gold_uretim_adet}</td>
                            <td>${data.gold_uretim_day}</td>
                            <td>${data.gold_uretim_date}</td>
                        </tr>



                    
                    `; 


                });





                
            } catch (error) {
                console.log("GOLD urun kayıt listesi çekme hatası", error);
            }


        })

        function searchBox(){
            try {

                const boxSearchInput = document.querySelector("#boxSearchInput").value.toLowerCase().trim();

                const dataListItem = document.querySelectorAll("#GOLDTableList tr");

                let gorunenSatirSayisi = 0;
                let toplam = document.querySelector(".toplam");
               
                dataListItem.forEach((item) => {
                    const datatext = item.textContent.toLowerCase().trim();

                    if(!boxSearchInput || datatext.includes(boxSearchInput)) {
                        item.style.display = "";

                        gorunenSatirSayisi++;

                    }else {
                        item.style.display = "none";
                        
                    }
                })

                

                 // Toplam gösterilecek satır sayısını yaz
                const toplamCihaz = document.querySelector("#toplamCihaz");
                toplamCihaz.innerHTML = `Toplam : ${gorunenSatirSayisi}`;


                
            } catch (error) {
                console.log("arama hatası ", error);
            }
        }


        document.addEventListener("DOMContentLoaded", async function () {

            let response = await fetch("/urunler/uretimSayiGZC24Gold/get");

            let gzc24MalzemeSayısı = await response.json();

            let uretimMalzeme = document.querySelector("#uretimMalzeme");

            

            gzc24MalzemeSayısı.forEach(data => {
                uretimMalzeme.innerHTML = `

                    ÜRETİLEBİLİR CİHAZ :  <strong class=" bg-light text-black p-1 rounded">${data.urun_malzeme_adet}</strong>


                `;
            })


        })

        



    </script>


    
</body>
</html>