<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/meta") %>
    <title>STOK EKRANI</title>

    <style>
      body{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    </style>

</head>
<body class="bg-dark">

    <%- include("../partials/nav") %>

    <div class="   mt-3 d-flex align-items-center justify-content-center flex-wrap p-3 gap-3">

        <div class="card" style="width: 25rem;">
            <br>
            <div class="card-body">
              <h5 class="card-title bg-warning p-3 fs-3">TRC60</h5>
              
              <p class="bg-primary text-white p-3 fs-4 text-center ">9999</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <br>
            <div class="card-body">
              <h5 class="card-title bg-warning p-3 fs-3">TRC01</h5>
              
              <p class="bg-primary text-white p-3 fs-4 text-center" >9999</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <br>
            <div class="card-body">
              <h5 class="card-title bg-warning p-3 fs-3">GZC24</h5>
              
              <p class="bg-primary text-white p-3 fs-4 text-center ">9999</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <br>
            <div class="card-body">
              <h5 class="card-title bg-warning p-3 fs-3">GOLD</h5>
              
              <p class="bg-primary text-white p-3 fs-4 text-center ">9999</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <br>
            <div class="card-body">
              <h5 class="card-title bg-warning p-3 fs-3">LUVİNKA</h5>
              
              <p class="bg-primary text-white p-3 fs-4 text-center ">9999</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <br>
            <div class="card-body">
              <h5 class="card-title bg-warning p-3 fs-3">CASUS</h5>
              
              <p class="bg-primary text-white p-3 fs-4 text-center ">9999</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <br>
            <div class="card-body">
              <h5 class="card-title bg-warning p-3 fs-3">ETİLEN JENERATÖR</h5>
              
              <p class="bg-primary text-white p-3 fs-4 text-center ">9999</p>
            </div>
        </div>

        <div class="card"  style="width: 25rem;">
            <br>
            <div class="card-body">
              <h5 class="card-title bg-warning p-3 fs-3">ETİLEN SIVI</h5>
              
              <p class="bg-primary text-white p-3 fs-4 text-center ">9999</p>
            </div>
        </div>


    </div>





    
</body>
</html>