<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include("../partials/meta") %>
    <title>TRC60 ÜRETİM</title>
</head>
<body class="bg-dark">
    <%- include("../partials/nav") %>

    <div class="container-xl bg-primary mt-3 p-2 w-auto" >

        <%- include("../partials/uretımNav") %>

        

        <div class="d-flex justify-content-center align-items-center flex-wrap">

            <div class="d-flex">

                <input class="form-control w-auto me-1" type="text" placeholder="ADET GİR">

                <input class="form-control w-auto me-1" type="text" placeholder="ÜRÜN DETAY GİR"> 

                <button class="btn btn-warning">KAYDET</button>
    
            </div>
            

        </div>

    </div>

</body>
</html>