<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include("../partials/meta") %>
    <title>TRC60 ÜRETİM</title>
</head>
<body class="bg-dark">
    <%- include("../partials/nav") %>

    <div class="container-xl bg-primary  mt-3 p-2 w-auto  rounded" >

        <%- include("../partials/uretımNav") %>

        

        <div class="container-xxl d-flex justify-content-center align-items-center flex-wrap  ">

            <div class="d-flex flex-wrap mb-2">

                

                <h5 id="uretimMiktari" class="bg-danger p-3 mx-1 rounded text-white">ÜRETİLEN CİHAZ : <strong class=" bg-light text-black p-1 rounded me-auto">0000</strong></h5>
                <h5 id="uretimMalzeme" class="bg-dark p-3 mx-1 rounded text-white">ÜRETİLEBİLİR CİHAZ :  <strong class=" bg-light text-black p-1 rounded">0000</strong></h5>
                <h5 id="guncelStok" class="bg-success p-3 mx-1 rounded text-white">ATÖLYE GÜNCEL STOK :  <strong class=" bg-light text-black p-1 rounded">0000</strong></h5>
                
            </div>

            <div class=" container-xl d-flex justify-content-start align-items-center w-100   mb-2">
                <button class="btn btn-warning   p-1 fs-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-list mx-1 fs-5"></i> LİSTELER </button>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">

                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">ÜRÜN KAYIT LİSTELERİ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body d-flex flex-column">
                        
                        <a class="btn btn-primary mb-2 p-3" href="/trc60-20barkod">TRC60 20 li KUTU</a>
                        <button class="btn btn-primary mb-2 p-3">TRC60 100 lü KUTU</button>
                        
                    </div>

                </div>
            </div>
            
            

            <div class="container-xxl d-flex justify-content-start align-items-center ">

                <input id="barkodİnput" class="form-control  w-auto me-1" type="text" placeholder="20 li kutu barkodu gir...">
    
                <button id="saveButton" class="btn btn-warning">KAYDET</button>
                
                
            </div>

            
            
            
            

        </div>

        
    </div>


    <div class=" container-xl createProduct bg-warning p-3 mt-2">
            <div style="max-height: 500px; overflow-y: auto;" id="barkodDataList20pcs" class="barkodList">
                <ul>
                    <li class="form-control mb-1 w-auto">1. <strong>10009999</strong> 02.03.25</li>
                    
                </ul>
            </div>
    </div>

    <script>
        

        let barkodİnput = document.querySelector("#barkodİnput");
        let saveButton = document.querySelector("#saveButton");

        
        

        saveButton.addEventListener("click", sendBarkod);

        barkodİnput.addEventListener("keydown", function(event){
            if(event.key === "Enter") {
                sendBarkod();
            }
        });

        window.onload = () => {
            barkodİnput.focus();
            barkodİnput.value = "";

        };
        

        async function sendBarkod() {
            let barkod = barkodİnput.value.trim();

            let barkodRegex = /^[0-9]{8}$/;

            if(!barkodRegex.test(barkod) || barkod === ""){

                alert("HATALI BARKOD");
                barkodİnput.focus();
                barkodİnput.value = "";

                return;
            }

            try {
                // Mevcut barkodları çek
                const response = await fetch("/barkod/data/save/get");
                const barkodList = await response.json();

                // Barkodun listede olup olmadığını kontrol et
                const exists = barkodList.some(item => item.trc60_20pcs_box_barkod === barkod);

                if (exists) {
                    alert("Bu barkod zaten kayıtlı!");
                    barkodİnput.focus();
                    barkodİnput.value = "";
                    return;
                }
            } catch (error) {
                alert("Hata barkod çekmede", error)
            }

            

            const today = new Date();

            const day = String(today.getDate()).padStart(2, "0");
            const mounth = String(today.getMonth() + 1).padStart(2, "0");
            const year = today.getFullYear();

            const barkodDateFormat = `${day}.${mounth}.${year}`;

            


            try {
                
                let response = await fetch("barkod/data/save",{
                    method: "POST",
                    headers: {
                        "content-Type": "application/json",

                    },
                    body: JSON.stringify({ barkod, barkodDateSave: barkodDateFormat }),

                });

                if(!response.ok){
                    //backend den gelen hata mesajını yakalama
                    const errorData = await response.json();
                    throw new Error(errorData.message);
                }

                  

                // let result = await response.json();
                // alert(result.message);  
                
                
                barkodİnput.focus();
                barkodİnput.value = "";

                window.location.reload(); // Sayfayı yenile

            } catch (error) {
                console.log("barkodSave", error);
                alert("barkod kayıt ederken bir sorunla karşılaşıldı");
                
            }


        }


        document.addEventListener("DOMContentLoaded", async function () {
            
            try {



                const response = await fetch ("/barkod/data/save/get");
                const barkod20pcsData = await response.json();

                const barkodData20pcsList = document.querySelector("#barkodDataList20pcs");

                barkodData20pcsList.innerHTML = "";

                barkod20pcsData.reverse().forEach(barkodData => {

                    

                    barkodData20pcsList.innerHTML += `
                        <li class="form-control mb-1 w-auto">${barkodData.id_20_pcs} <strong>${barkodData.trc60_20pcs_box_barkod}</strong> ${barkodData.trc60_20pcs_box_date}</li>
                    `;

                    
                });


                
            } catch (error) {
                alert("barkod data çekme hatası", error);
            }

            try {



                const response = await fetch("/barkod/data/save/get/box/number");
                const stokadet = await response.json();

                const uretimMiktari = document.querySelector("#uretimMiktari");

                uretimMiktari.innerHTML = "";

                
                let stoksayısı =  stokadet.length * 20;

                uretimMiktari.innerHTML = `ÜRETİLEN CİHAZ : <strong class=" bg-light text-black p-1 rounded me-auto">${stoksayısı}</strong>`;

                
            } catch (error) {
                console.log("stok sayısı güncelleme hatası", error);
            }

            try {

                const response = await fetch("/urunler/uretimSayisi/get");

                const trc60ProductNumber = await response.json();

                const trc60uretimMalzeme = document.querySelector("#uretimMalzeme");
                
                trc60ProductNumber.forEach(data => {
                    trc60uretimMalzeme.innerHTML = `ÜRETİLEBİLİR CİHAZ :  <strong class=" bg-light text-black p-1 rounded">${data.urun_malzeme_adet}</strong>`;
                });

                

                
            } catch (error) {
                console.log("trc60ÜretimSayısı", error);
            }


            try {

               
                const response = await fetch("trc60/guncel/stok/trc6020pcs");
                const trc60GuncelStok = await response.json();

                const guncelStok = document.querySelector("#guncelStok");

                let guncelStokTrc60 = trc60GuncelStok.length * 20;

                

                guncelStok.innerHTML = `TOPLAM ÜRETİLMİŞ ÜRÜN : <strong class=" bg-light text-black p-1 rounded me-auto">${guncelStokTrc60}</strong>`;

                
            } catch (error) {
                console.log("Güncel STOK ÇEKME HATASI", error);
                alert("GÜNCEL STOK ÇEKME HATASI");
            }

            
        });

        



    </script>

</body>
</html>