<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include("../partials/meta") %>
    <title>TRC60 ÜRETİM</title>
</head>
<body class="bg-dark">
    <%- include("../partials/nav") %>

    <div class="container-xl bg-primary mt-3 p-2 w-auto " >

        <%- include("../partials/uretımNav") %>

        

        <div class="d-flex justify-content-around align-items-center flex-wrap  ">

            <div class="listMenu bg-warning ">
                <ul>
                    <li>item 1</li>
                    <li>item 1</li>
                    <li>item 1</li>
                    <li>item 1</li>
                    <li>item 1</li>
                </ul>
            </div>

            <div class="d-flex bg-dark ">

                <input class="form-control w-auto me-1" type="text" placeholder="20 li kutu barkodu gir...">

                <button class="btn btn-warning">KAYDET</button>

               

                
    
            </div>
            
            
            

        </div>

    </div>

</body>
</html>