<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/meta") %>
    <title>ÜRÜN KAYIT</title>
</head>

<body class="bg-dark">
  <%- include("../partials/nav") %>

  <div class="d-flex justify-content-center align-items-center mt-3 mb-3" id="urunContainer">

  </div>

  

  <main class="bg-dark">

    <%- include("../partials/eklecıkar") %>

    <br><br><br>


    <div class="bg-warning p-3">

      <h3>GİRDİLER/ÇIKTILAR</h3>

      <div  class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                        
        <table  class="table bg-primary text-white mt-3 table-bordered border-dark ">
            <thead>
                <tr>
                    <th style="width: 10px;" scope="col">#</th>
                    <th scope="col">ÜRÜN ADI</th>
                    <th scope="col">ÜRÜN DETAY</th>
                    <th scope="col">ÜRÜN ADET</th>
                    <th scope="col">ÜRÜN GİRİŞ/ÇIKIŞ</th>
                    <th scope="col">ÜRÜN TARİH</th>
                </tr>
            </thead>
            <tbody id="addRemovelogListTable" class="dataListSearch">
                
                    <tr>
                        <th scope="row"></th>
                        <td >deneme</td>
                        <td >deneme</td>
                        <td >deneme</td>
                        <td >deneme</td>
                        <td >deneme</td>
                        
                    </tr>
                
            </tbody>
        </table>
    </div>


     
       

    </div>

  </main>
  

  <script>

  document.addEventListener('DOMContentLoaded', async () => {


    try {

      const response = await fetch ('urun/card');
      const urunCard = await response.json();

      urunCard.forEach(urun => {
        let urunCont = document.querySelector("#urunContainer");
        let urunadi = document.querySelector("#urunName");

        urunCont.innerHTML += `
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">${urun.urun_Name}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <ul>
              <li>ürün 1</li>
            </ul>

            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>` 
        ;
        

      });

    } catch (error) {
      console.log("urunCont hata",error);
    }

    try {

      const response = await fetch('/add/Remove');
      const addRemoveList = await response.json();

      const addRemovelogListTable = document.querySelector("#addRemovelogListTable");
      addRemovelogListTable.innerHTML = "";

      addRemoveList.forEach((addRemoveData , index) => {
          const tableRow = `

           <tr>
              <th scope="row">${index + 1}</th>
              <td ><strong class="bg-warning text-dark p-1">${addRemoveData.urun_adi}</strong></td>
              <td ><strong class="bg-warning text-dark p-1">${addRemoveData.malzeme_adi.toUpperCase()}</strong></td>
              <td ><strong class="bg-warning text-dark p-1"> ${addRemoveData.amount}</strong></td>
              <td ><strong class="bg-warning text-dark p-1">${addRemoveData.action.toUpperCase()}</strong></td>
              <td ><strong class="bg-warning text-dark p-1">${addRemoveData.date}</strong></td>
                     
           </tr
          
          `;
          addRemovelogListTable.innerHTML += tableRow;
      });

      

    } catch (error) {
      console.log("/add/remove hatası",error)
    }

    try {

      



    } catch (error) {
      console.log("loglama hatası", error);
    }





  });







  </script>
 

    
</body>

</html>