<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/meta") %>
    <title>ÜRÜN KAYIT</title>
</head>

<body class="bg-dark">
  <%- include("../partials/nav") %>

  <div class="d-flex justify-content-center align-items-center mt-3 mb-3" id="urunContainer">

  </div>

  

  <main class="bg-dark">

    <%- include("../partials/eklecıkar") %>

    <br><br><br>


    <div class="bg-warning p-3">

      <h3>GİRDİLER/ÇIKTILAR</h3>

      <div class="w-50">
        
        <ul class="list-group">
          <li class="list-group-item">Ürün adı ÜRÜN 1  Malzeme adı ÜRÜN MLZ  eklenen adet : 100</li>
        </ul>

      </div>

      <ul class="list-group">
        
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
       
      </ul>

    </div>

  </main>
  

  <script>

  document.addEventListener('DOMContentLoaded', async () => {


    try {

      const response = await fetch ('urun/card');
      const urunCard = await response.json();

      urunCard.forEach(urun => {
        let urunCont = document.querySelector("#urunContainer");
        let urunadi = document.querySelector("#urunName");

        urunCont.innerHTML += `
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">${urun.urun_Name}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>` 
        ;
        

      });

    } catch (error) {
      console.log(error);
    }






  });







  </script>
 

    
</body>

</html>