<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/meta") %>
    <title>ÜRÜN KAYIT</title>
</head>

<body class="bg-dark">
  <%- include("../partials/nav") %>

  <div class="d-flex justify-content-center align-items-center mt-3 mb-3" id="urunContainer">

  </div>

  

  <main class="bg-dark">

    <%- include("../partials/eklecıkar") %>

    <br><br><br>


    <div class="bg-warning p-3">

      <h3>GİRDİLER/ÇIKTILAR</h3>

      <div  style="max-height: 300px;" class="w-auto overflow-auto">
        <ul id="addRemovelogList" class="list-group">
          
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        
          
        </ul>

      </div>

      
       

    </div>

  </main>
  

  <script>

  document.addEventListener('DOMContentLoaded', async () => {


    try {

      const response = await fetch ('urun/card');
      const urunCard = await response.json();

      urunCard.forEach(urun => {
        let urunCont = document.querySelector("#urunContainer");
        let urunadi = document.querySelector("#urunName");

        urunCont.innerHTML += `
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">${urun.urun_Name}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>` 
        ;
        

      });

    } catch (error) {
      console.log(error);
    }

    try {

      const response = await fetch('/add/Remove');
      const addRemoveList = await response.json();

      const addRemovelogList = document.querySelector("#addRemovelogList");
      addRemovelogList.innerHTML = "";

      addRemoveList.forEach(addRemove => {

        const itemLi = document.createElement("li");
        itemLi.className = "list-group-item list-group-item-action";

        itemLi.innerHTML = `Ürün adı : <strong class="bg-warning">${addRemove.urun_adi}</strong> alt malzeme adı : <strong class="bg-warning">${addRemove.malzeme_adi}</strong> eklenen sayı : <strong class="bg-warning"> ${addRemove.amount}</strong> yapılan işlem : <strong class="bg-warning">${addRemove.action}</strong> kayıt tarihi : <strong class="bg-warning">${addRemove.date}</strong>`;

        addRemovelogList.appendChild(itemLi);

      })


    } catch (error) {
      console.log("/add/remove hatası",error)
    }

    try {

      



    } catch (error) {
      console.log("loglama hatası", error);
    }





  });







  </script>
 

    
</body>

</html>